[backblaze]
bucket = "<bucket name>"
application_id = "<app id>"
application_key = "<app key>"

[database]
url = "host=<host> user=<user> database=<database>"

[playwright]
headless = true

[zacks]
username = "<username>"
password = "<password>"
